body {
	background: #000;
}

h1,h2,h3,h4,h5,h6,p {
	color: #fff;
	font-family: monospace;
}

.cyberquest-hero {
	width: 100%;
	margin-top: 30px;
}

.navbar-header {
	position: absolute;
    left: 50%;
    margin-left: -120px !important;
    margin-top: 20px;
    z-index: 999999;
}

.navbar .navbar-brand {
	padding: 0 !important;
	padding-top: 0 !important;
	height: 90px;
	margin: 0 !important;
}

.navbar .navbar-brand:hover {
	opacity: .8;
}

.navbar a {
	height: 40px;
    margin-top: 120px !important;
    padding: 10px 20px !important;
    border-radius: 2px 2px 0 0;
}

.navbar-brand img {
	height: 90px;
}

.cyberquest-background {
	color: #222;
	position: absolute;
	bottom: 0;
	top: 0;
	font-family: monospace;
	z-index: -10;
}

.container {
	position: relative;
	z-index: 9999;
}

.container:not(.no-top),
.container-fluid:not(.no-top) {
	margin-top: 120px;
}

.navbar {
	z-index: 99999;
}

.well {
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
}

.well {
	background: rgba(214, 0, 228, 0.8);
	border-color: hsl(296, 100%, 80%);
}

.well textarea,
.well input:not([type^="submit"]),
.well .input-group-addon {
	background: rgba(0,0,0,0.5);
	border-color: hsl(296, 100%, 80%);
	color: #fff;
	font-family: monospace;
}

.well-success textarea,
.well-success input:not([type^="submit"]),
.well-success .input-group-addon {
	border-color: hsl(100, 100%, 70%);
}

.well-error textarea,
.well-error input:not([type^="submit"]),
.well-error .input-group-addon {
	border-color: hsl(0, 100%, 70%);
}

.well-error {
	background: rgba(228, 0, 0, 0.8);
	border-color: hsl(0, 100%, 70%);
}

.well-success {
	background: rgba(65, 146, 23, 0.8);
	border-color: hsl(100, 100%, 70%);
}

.well .control-label {
	font-family: monospace;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.btn-primary,
.btn-primary:hover,
.btn-primary[disabled] {
	background-color: #1d1d1d !important;
	border: 1px solid rgb(230,230,230) !important;
	font-family: monospace;
	font-weight: bold;
	font-size: 17px;
}

.btn-primary {
    background-image: -webkit-linear-gradient(top,#585858 0,#1d1d1d 100%);
}

.btn-primary:hover {
	background-image: -webkit-linear-gradient(top,#1d1d1d 0,#585858 100%);
	background-position: initial;
}